<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="img/icons.png" alt="" width="40" height="auto" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About</a>
                </li>
                <% if (token) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/pesananSaya/Belum_Dibayar">Pesanan
                            Saya</a>
                    </li>
                    <% if (token.role=='admin' ) { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboardAdmin/customer">Dashboard</a>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
            <form class="d-flex">
                <% if (token==null) { %>
                    <button class="btn active btn-outline-primary signin-button" id="signin-button" type="submit"><a
                            class="signinbutton" href="/signin">Sign in</a></button>
                    <% }else{ %>
                        <button class="btn active btn-outline-primary signin-button" id="signin-button" type="submit"><a
                                class="signinbutton" href="/logout">Log out</a></button>
                        <% } %>
            </form>
        </div>
    </div>
</nav>