<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ordering handyman services via the website">
    <meta name="theme-color" content="#1C658C" />
    <title>Si Tukang</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" type="image/png" href="img/icons.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

</head>

<body>
    <header class="header">
        <nav-bar></nav-bar>
    </header>
    <main tabindex="0" id="maincontent">
        <hero-section></hero-section>
        <div class="services container px-5" id="services">
            <h2 class="servicesTitle">
                Services
            </h2>
            <div class="search">
                <form class="d-flex">
                    <input class="form-control me-2 search-form" type="search" placeholder="Cari Tukang..."
                        aria-label="Search">
                    <button class="btn active btn-outline-success search-button" id="search-button"
                        type="submit">Search</button>
                </form>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/elektronik.png" alt="">
                    <p>Elektronik</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/bangunan.png" alt="">
                    <p>Bangunan</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/furniture.png" alt="">
                    <p>Furniture</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/otomotif.png" alt="">
                    <p>Otomotif</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/cleaning.png" alt="">
                    <p>Cleaning</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rowimg" src="img/lainnya.png" alt="">
                    <p>Lainnya</p>
                </div>
            </div>
        </div>

        <div class="tentangsitukang">
            <h2 class="tentangsitukang-Title">Tentang Si Tukang</h2>
        </div>
        <div class="tentangsitukang-Container">
            <p class="deskripsisitukang">Si Tukang menyediakan berbagai kebutuhan jasa pertukangan.
                kami memiliki misi untuk memberikanmu kemudahan dalam mencari Tukang.</p>
            <h2 class="kelebihansitukang-title">Kelebihan Si Tukang</h2>
            <div class="kelebihansitukang">
                <ul>
                    <li><span class="dot"></span> Menyediakan tukang yang berpengalaman</li>
                    <li><span class="dot"></span> Membantu anda menemukan tukang terbaik sesuai kebutuhan anda</li>
                    <li><span class="dot"></span> Customer Service and Technical Support</li>
                </ul>
            </div>
            <h2 class="carapesan-title">Cara Pemesanan</h2>
            <div class="carapesan">
                <div class="column featurette">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-lg-4 text-center" style="margin-bottom:30px; padding: 20px;">
                                <img class="rounded-circle" src="img/kategori.png" width="140" height="140"
                                    style="margin-bottom:20px ;">
                                <p>1. Pilih kategori layanan</p>
                            </div>
                            <div class="col-lg-4 text-center" style="margin-bottom:30px; padding: 20px;">
                                <img class="rounded-circle" src="img/form.png" width="140" height="140"
                                    style="margin-bottom:20px ;">
                                <p>2. Isi form pemesanan</p>
                            </div>

                            <div class="col-lg-4 text-center" style="margin-bottom:30px; padding: 20px;">
                                <img class="rounded-circle" src="img/tracking.png" width="140" height="140"
                                    style="margin-bottom:20px ;">
                                <p>3. Lacak pemasanan anda</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="deskripsi-carapesan">
                            <h2 class="featurette-heading fw-normal lh-1">Si Tukang</h2>
                            <p class="lead">Temukan Penyedia Jasa Terpercaya
                                Sekarang Juga!</p>
                            <button type="submit" class="btn active btn-outline-secondary">Pesan Sekarang</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="testimoniBanner">
                <h2 class="testimoniBannerTitle fs-1">Testimoni</h2>
            </div>
            <div class="testimoniContent container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <img class="rounded-circle" src="img/kasumi.gif" width="140" height="140" alt="">
                        <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Kasumi</h3>
                        <p>Tukang Ramah Bintang 5</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img class="rounded-circle" src="img/arisaok.jpg" width="140" height="140" alt="">
                        <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Arisa</h3>
                        <p>Tukang Ramah Bintang 5</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img class="rounded-circle" src="img/user.png" width="140" height="140" alt="">
                        <h3 class="testimoniContentTitle fw-normal" class="fw-normal">User</h3>
                        <p>Tukang Ramah Bintang 5</p>
                    </div>
                </div>
            </div>
            <services-section></services-section>
            <div class="container">
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span
                                class="text-muted">It’ll blow your mind.</span></h2>
                        <p class="lead">Some great placeholder content for the first featurette here. Imagine some
                            exciting
                            prose here.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="img/logocpsg52.jpg" class="w-100" alt="">

                    </div>
                </div>

                <hr class="featurette-divider">
            </div>
            <div class="about">
                <h1 class="aboutTitle">
                    About Us
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 text-center text-white">
                            <img class="rounded-circle" src="img/kasumi.gif" width="140" height="140" alt="">
                            <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Kasumi <a
                                    href="https://linktr.ee/izdiharalwin"
                                    style="text-decoration: none; color: white;">🡢</a></h3>
                            <p>Tukang Ramah Bintang 5</p>
                        </div>
                        <div class="col-lg-3 text-center text-white">
                            <img class="rounded-circle" src="img/arisaok.jpg" width="140" height="140" alt="">
                            <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Kasumi <a
                                    href="https://linktr.ee/izdiharalwin"
                                    style="text-decoration: none; color: white;">🡢</a></h3>
                            <p>Tukang Ramah Bintang 5</p>
                        </div>
                        <div class="col-lg-3 text-center text-white">
                            <img class="rounded-circle" src="img/user.png" width="140" height="140" alt="">
                            <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Kasumi <a
                                    href="https://linktr.ee/izdiharalwin"
                                    style="text-decoration: none; color: white;">🡢</a></h3>
                            <p>Tukang Ramah Bintang 5</p>
                        </div>
                        <div class="col-lg-3 text-center text-white">
                            <img class="rounded-circle" src="img/user.png" width="140" height="140" alt="">
                            <h3 class="testimoniContentTitle fw-normal" class="fw-normal">Kasumi <a
                                    href="https://linktr.ee/izdiharalwin"
                                    style="text-decoration: none; color: white;">🡢</a></h3>
                            <p>Tukang Ramah Bintang 5</p>
                        </div>
                    </div>
                </div>
            </div>

    </main>
    <footer-section></footer-section>
</body>

</html>