<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ordering handyman services via the website" />
    <meta name="theme-color" content="#1C658C" />
    <title>Si Tukang TEs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="shortcut icon" type="image/png" href="img/icons.png" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://kit.fontawesome.com/5a55e40371.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
      <login-bar></login-bar>
    </header>
    <main tabindex="0" id="maincontent">
      <div class="user-page">
        <div class="user-profile">
          <ul>
            <img class="rounded-circle" src="img/man.png" width="80" height="80" alt="" />
            <li style="list-style: none">
              <i class="fa-solid fa-user-tie"></i>
              <p>Profile saya</p>
            </li>
            <li style="list-style: none">
              <i class="fa-solid fa-file-pen"></i>
              <p>Pesanan saya</p>
            </li>
          </ul>
        </div>
        <div class="user-purchase">
          <h3>Pesanan Saya</h3>

          <hr />

          <div class="menu-purchased">
            <a class="text-body order-unpaid" href="profile-unpaid.html" style="text-decoration: none">Belum Bayar</a>
            <a class="text-body order-processed" href="profile-processed.html" style="text-decoration: none">Dikirim</a>
            <a class="text-body order-finished" href="profile-finished.html" style="text-decoration: none">Selesai</a>
          </div>

          <hr />

          <div class="purchased">
            <h4>Servis Elektronik</h4>
            <div class="test">
              <div class="data-patner">
                <img class="rounded-circle" src="img/man.png" width="80" height="80" alt="" />
                <p>Nama Patner/Tukang</p>
                <i title="icon_rating" class="fa-solid fa-star"></i>
                <i title="icon_rating" class="fa-solid fa-star"></i>
                <i title="icon_rating" class="fa-solid fa-star"></i>
                <i title="icon_rating" class="fa-solid fa-star"></i>
              </div>

              <div class="detail-purchase">
                <h5>Detail Pesanan</h5>
                <div>
                  <p>Alamat</p>

                  <div class="user-address">
                    <i title="icon-location" class="fa-solid fa-location-dot"></i>
                    <p class="user-location">Jalan Bunga</p>
                  </div>
                </div>

                <p>Layanan yang dibutuhkan: Service Laptop</p>
                <p>Kondisi Perangkat: Mati Total</p>
              </div>
            </div>

            <div class="order-payment">
              <p>Total Pembayaran: Rp.100.000</p>
              <button type="submit" class="btn btn-primary btn-finished" style="background-color: #946917">
                <a class="text-white" href="profile-finished.html" style="text-decoration: none">Beri Penilaian</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer-section></footer-section>
  </body>
</html>
