<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ordering handyman services via the website">
    <meta name="theme-color" content="#1C658C" />
    <title>Si Tukang</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" type="image/png" href="img/icons.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

</head>

<body>
    <header class="header">
        <nav-bar></nav-bar>
    </header>
    <main tabindex="0" id="maincontent">
        <div class="form-signup m-auto">
            <div class="container text-center">
                <img class="imgsignup w-75" src="img/icons.png" alt="Si Tukang">
            </div>
            <form>
                <h1 class="h3 mb-4 fw-normal">Please sign up</h1>
                <div class="form-floating">
                    <input type="name" class="form-control" id="floatingName" placeholder="Name">
                    <label for="floatingName">Name</label>
                </div>
                <div class="form-floating">
                    <input type="address" class="form-control" id="floatingAddress" placeholder="address">
                    <label for="floatingAddress">Address</label>
                </div>
                <div class="form-floating">
                    <input type="phone" class="form-control" id="floatingPhone" placeholder="phone">
                    <label for="floatingPhone">Phone</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <p class="condition">
                    Dengan mendaftar, saya menyetujui
                    <a href="#">Syarat dan Ketentuan</a> & <a href="#">Kebijakan Privasi</a>
                </p>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="condition mt-2">
                    Sudah memiliki akun? <a href="signin.html">Masuk</a>
                </p>
            </form>
        </div>
    </main>
    <footer-section></footer-section>
</body>

</html>