<div class="form-signin m-auto">
    <div class="container text-center">
        <img class="imgsignin w-75" src="img/icons.png" alt="Si Tukang">
    </div>
    <form action="/signin" method="post">
        <h1 class="h3 mb-4 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="condition mt-2">
            Belum memiliki akun? <a href="/signup">Daftar</a>
        </p>
    </form>
</div>