@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #D1C16A;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav {
    background-color: #6B4747;
}

.nav-link:hover {
    color: red;
}

/* Hero Section */
.hero {
    display: block;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #D1C16A;
    object-fit: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../public/img/hero.png');
}

.hero__title {
    font-size: 80px
}

.hero__inner {
    padding-top: 350px;
    text-align: center;
    color: aliceblue;
}

/* Main Content */
main {
    background-color: #D1C16A;
}

.search {
    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 60px;
    padding-left: 60px;
}

.content {
    margin-top: 200px;
    margin-bottom: 200px;
}

.rowimg {
    width: 40%;
}

.loginbutton {
    color: white;
    text-decoration: none;
}

.loginbutton:hover {
    color: white;
}

.testimoniBanner {
    display: block;
    align-items: center;
    min-height: 25rem;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #D1C16A;
    object-fit: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../public/img/testimoni.jpg');
}

.testimoniBannerTitle {
    color: white;
    padding-top: 150px;
}

.testimoniContent {
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimoniContentTitle {
    padding-top: 30px;
}

footer {
    background-color: #6B4747;
}