.detail-order {
  display: inline-flex;
}
.user-data {
  background-color: rgb(255, 251, 0);
  width: 350px;
  height: 220px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 55px;
  text-align: center;
  border-radius: 15px;
}
.form-order {
  width: 700px;
  margin-top: 100px;
  margin-bottom: 55px;
  margin-left: 55px;
  padding: 50px;
  border-radius: 15px;
  background-color: #f5edaa;
}

.user-address {
  display: flex;
}

.fa-location-dot {
  font-size: 18px;
  padding: 4px;
  color: red;
}
.available-services {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
}
.kondisi {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
}
.form-control {
  height: 100px;
}
.payment {
  background-color: #fcea89;
  padding: 10px;
  border-radius: 15px;
  border: 2px rgb(110, 94, 75);
}
.btn-order {
  margin-top: 30px;
  background-color: red;
  align-content: center;
}
