.detail-order {
  display: grid;
  grid-template-columns: 1fr;
}
.user-data {
  background-color: rgb(240, 237, 83);
  width: 350px;
  height: fit-content;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  border-radius: 15px;
}
.form-order {
  width: 680px;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 15px;
  background-color: #f5edaa;
}

.user-address {
  display: flex;
}

.fa-location-dot {
  font-size: 18px;
  padding: 4px;
  color: red;
}

.user-map {
  border-width: 2px;
  border-color: black;
  margin-bottom: 10px;
}
.map {
  max-width: 650px;
}

.available-services {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
  margin-bottom: 10px;
}
.categories {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
  margin-bottom: 10px;
}
.form-control {
  height: 100px;
}
.payment {
  background-color: #fcea89;
  padding: 10px;
  border-radius: 15px;
  border: 2px rgb(110, 94, 75);
}
.btn-order {
  margin-top: 30px;
  background-color: red;
  align-content: center;
}
@media screen and (min-width: 280px) {
  .user-data {
    width: 250px;
    height: fit-content;
  }
  .form-order {
    width: 250px;
  }
  .map {
    width: 50%;
  }
}

@media screen and (min-width: 350px) {
  .user-data {
    width: 330px;
    height: fit-content;
  }
  .form-order {
    width: 330px;
  }
  .map {
    width: 50%;
  }
}

@media screen and (min-width: 450px) {
  .user-data {
    width: 420px;
    height: fit-content;
  }
  .form-order {
    width: 420px;
  }
  .map {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .user-data {
    width: 550px;
    height: fit-content;
  }
  .form-order {
    width: 550px;
  }
  .map {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .user-data {
    width: 150px;
    height: fit-content;
    margin-top: 100px;
  }
  .form-order {
    width: 500px;
    margin-top: 100px;
    margin-right: 20px;
  }
  .map {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .user-data {
    width: 200px;
    height: fit-content;
  }
  .form-order {
    width: 560px;
  }
}

@media screen and (min-width: 950px) {
  .user-data {
    width: 250px;
    height: fit-content;
  }
  .form-order {
    width: 650px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .user-data {
    width: 300px;
    margin-right: 0;
    margin-left: 55px;
  }
  .form-order {
    width: 700px;
    margin-right: 55px;
    margin-left: 20px;
  }
  .map {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .user-data {
    width: 300px;
    margin-right: 0;
    margin-left: 55px;
  }
  .form-order {
    width: 750px;
    margin-right: 150px;
  }
  .map {
    width: 650px;
  }
}
