.user-page {
  display: inline-flex;
}
.user-profile {
  margin-top: 200px;
  margin-left: 55px;
}
.user-purchase {
  margin-top: 70px;
  margin-bottom: 55px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px;
  border-radius: 15px;
}

.user-purchase h3 {
  text-align: center;
}

.menu-purchased {
  display: inline;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.purchased {
  padding: 20px;
  border-radius: 15px;
  background-color: #b8ad70;
}
.test {
  display: inline-flex;
}
.fa-star {
  padding: 3px 2px;
  font-size: 16px;
  color: rgb(243, 220, 9);
}
.data-patner {
  margin-top: 30px;
  text-align: center;
}
.detail-purchase {
  margin-left: 150px;
}
.order-payment {
  display: inline-flex;
}
.btn-pay {
  margin-left: 10px;
}
.btn-processed {
  background-color: #3f682c;
  margin-left: 10px;
}
.btn-finished {
  background-color: #946917;
  margin-left: 10px;
}

@media screen and (max-width:715px){
  .user-page{
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .user-profile-outter{
    margin: 120px auto auto auto;
    max-width: 400px;
    width: 100%;
  }

  .user-profile{
    padding: 70px;
    margin: 20px;
    text-align: center;
    background-color: #b8ad70;
    border-radius: 15px;
  }

  .user-profile ul{
    padding: 0px;
  }


  .test{
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .detail-purchase{
    padding-top: 10px;
    margin: 10px;
  }
} 

@media screen and (max-width:400px){
  .user-page{
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
  }

  .user-purchase{
    padding: 20px;
  }

  .order-payment{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}