@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #D1C16A;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #6B4747;
}

.nav-link:hover {
    color: red;
}

.signinbutton {
    color: white;
    text-decoration: none;
}

.signinbutton:hover {
    color: white;
}

/* Hero Section */
.hero {
    display: block;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #D1C16A;
    object-fit: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/hero.png');
}

.hero__title {
    font-size: 80px
}

.hero__inner {
    padding-top: 320px;
    text-align: center;
    color: aliceblue;
}

/* Main Content */
main {
    background-color: #D1C16A;
    margin-bottom: -20px;
}

/* Sevices Section */
.services {
    padding-bottom: 150px;
}

.servicesTitle {
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.rowimg {
    width: 40%;
}

/* About */
.aboutBanner {
    padding-top: 80px;
}

mark {
    border-radius: 7%;
}

.lead {
    padding-top: 20px;
}

/* Advantages */
.advantagesSitukang-title {
    padding: 70px 50px 20px 50px;
}

.advantagesSitukang {
    padding-top: 100px;
}

.advantagesSitukang ul {
    list-style: none;
    background-color: #9AD0EC;
    padding: 50px;
    border-radius: 50px;
}

.advantagesSitukang ul li {
    padding: 10px;
    text-align: left;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #6B4747;
    border-radius: 50%;
    display: inline-block;
}

/* Order Guide */
.orderGuide-title {
    padding: 70px 50px 20px 50px;
}

.orderGuide {
    background-color: #9AD0EC;
    padding: 50px;
    margin: 30px;
    border-radius: 50px;
}

.deskripsi-orderGuide {
    text-align: center;
    align-items: center;

}

.orderGuideContent {
    margin-bottom: 30px;
    padding: 20px;
}

/* Testimoni */
.testimoniBanner {
    display: block;
    align-items: center;
    min-height: 25rem;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #D1C16A;
    object-fit: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/testimoni.jpg');
}

.testimoniBannerTitle {
    color: white;
    padding-top: 150px;
}

.testimoniContent {
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimoniContentTitle {
    padding-top: 30px;
}

/* Footer */
footer {
    margin-top: 20px;
    background-color: #6B4747;
}

@media screen and (max-width: 400px) {
    .hero__title {
        font-size: 40px;
    }

    .hero__inner {
        padding-top: 270px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .imgIcons {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .hero__title {
        font-size: 40px;
    }

    .hero__inner {
        padding-top: 400px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .imgIcons {
        width: 200px;
    }
}