.listtukang {
  padding-bottom: 100px;
}

.listtukangTitle {
  padding-top: 100px;
  text-align: center;
}

.listtukangCol {
  padding: 20px;
}

.listtukangContent {
  background-color: rgb(240, 237, 83);
  padding: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.listtukangContentTitle {
  padding-top: 30px;
}

.detailTukang {
  display: flex;
  justify-content: center;
}

.detailTukang .listtukangCol {
  margin-top: 80px;
  width: 600px;
}

.detail-order {
  display: grid;
  grid-template-columns: 1fr;
}

.form-detail-order form {
  margin-top: 20px;
  padding-bottom: 50px;
}

.form-order {
  width: 680px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 15px;
  background-color: #f5edaa;
}

.radio-button {
  -ms-transform: scale(1.5);
  /* Untu IE  */
  -webkit-transform: scale(1.5);
  /* untuk Chrome, Mozilla,Safari, Opera */
  transform: scale(1.5);
}

.user-address {
  display: flex;
}

.fa-location-dot {
  font-size: 18px;
  padding: 4px;
  color: red;
}

.user-map {
  border-width: 2px;
  border-color: black;
  margin-bottom: 10px;
}

#map {
  max-width: 650px;
  height: 200px;
}

.available-services {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
  margin-bottom: 10px;
}

.categories {
  background-color: #fcea89;
  padding: 15px;
  border-radius: 10px;
  border: 2px rgb(110, 94, 75);
  margin-bottom: 10px;
}

.form-control {
  height: 100px;
}

.payment {
  background-color: #fcea89;
  padding: 10px;
  border-radius: 15px;
  border: 2px rgb(110, 94, 75);
}

.btn-order {
  margin-top: 30px;
  background-color: red;
  align-content: center;
}

@media screen and (min-width: 280px) {
  .oderTukang {
    width: 80%;
    margin: auto;
  }

  .form-order {
    width: 250px;
  }
}

@media screen and (min-width: 350px) {
  .form-order {
    width: 330px;
  }
}

@media screen and (min-width: 450px) {
  .form-order {
    width: 420px;
  }
}

@media screen and (min-width: 600px) {
  .form-order {
    width: 550px;
  }
}

@media screen and (min-width: 700px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-order {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-order {
    width: 560px;
  }
}

@media screen and (min-width: 950px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-order {
    width: 650px;
  }
}

@media screen and (min-width: 1100px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-order {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-order {
    width: 750px;
  }
}

@media screen and (min-width: 1900px) {
  .detail-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .detail-order {
    padding-bottom: 300px;
  }
}